<!-- cart section end -->
<section class="cart-section spad">
	<div class="container">
		{{>messages }}
		<div class="row">
			<div class="col-lg-8">
				<div class="cart-table">
					<h3>Your Cart</h3>
					<div class="cart-table-warp">
						{{#if cart.item }}
						<table>
							<thead>
								<tr>
									<th class="product-th">Product</th>
									<th class="quy-th">Quantity</th>
									<th class="size-th">SizeSize</th>
									<th class="total-th">Price</th>
									<th class="total-th">Action</th>
								</tr>
							</thead>
							{{#each cart.item }}
							<tbody>
								<tr>
									<td class="product-col">
										<img src="/../uploads/{{ image }}" alt="product image">
										<div class="pc-title">
											<h4 {{brand}}></h4>
											<p>{{ product }}</p>
										</div>
									</td>
									<td class="quy-col">
										<div class="quantity">
											<div class="pro-qty">
												<form action="/cart/add/{{id}}" method="post">
													<input type="text" name="inc" value="{{ quantity }}">

												</form>
											</div>
										</div>
									</td>
									<td class="size-col">
										<h4>Size {{ size }}</h4>
									</td>
									<td class="total-col">
										<h4>&#8358 {{ price }}</h4>
									</td>
									<td class="total-col ">
										<form action="/cart/remove/{{id}}" method="get">
											<button type="submit" class="btn btn-danger"><i
													class="flaticon-remove"></i></button>
										</form>
									</td>
								</tr>
							</tbody>
							{{/each}}
						</table>
						{{else}}
						<p class="text-danger">There are no product in your shopping cart</p>
						{{/if}}
					</div>
					<div class="total-cost">
						<h6>Total <span>&#8358 {{math cart.total }}.00</span></h6>
					</div>
				</div>
			</div>
			<div class="col-lg-4 card-right">
				<form class="promo-code-form">
					<input type="text" placeholder="Enter promo code">
					<button>Submit</button>
				</form>
				<a href="/checkout" class="site-btn">Proceed to checkout</a>
				<a href="/" class="site-btn sb-dark">Continue shopping</a>
			</div>
		</div>
	</div>
</section>
<!-- cart section end -->

<!-- Related product section -->
<section class="related-product-section">
	<div class="container">
		<div class="section-title text-uppercase">
			<h2>Continue Shopping</h2>
		</div>
		<div class="row">
			{{#each product }}
			<div class="col-lg-3 col-sm-6">
				<div class="product-item">
					<div class="pi-pic">
						<img src="/../uploads/{{ _doc.ProductImage }}" alt="">
						<div class="pi-links">
							<form action="/cart/add/{{ _doc._id }}" method="post">
								<button style="float: left;" type="submit" id="btn" class="add-card btn-primary"><i
										class="flaticon-bag"></i><span>Add TO
										Cart</span></button>
							</form>
							<a href=" {{_doc._id }} " class="wishlist-btn"><i class="flaticon-heart"></i></a>
							<a href="/product/{{ _doc._id}} " class="wishlist-btn"><i class="flaticon-visible"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>&#8358 {{_doc.ProductPrice }} </h6>
						<p>{{_doc.ProductName }} </p>
					</div>
				</div>
			</div>
			{{/each }}

		</div>
	</div>
</section>
<!-- Related product section end -->
<style>
	.flaticon-remove {
		font-size: 24px;
	}
</style>