<!-- product section -->
	<section class="product-section">

		<div class="container">
			{{> messages }}
			<div class="back-link">
				<a href="./category.html"> &lt;&lt; Back to Category</a>
			</div>
			<div class="row">
				 {{#each product }}
				<div class="col-lg-6">
					<div class="product-pic-zoom">
						<img class="product-big-img" src="/../uploads/{{ _doc.ProductImage }}" alt="">
					</div>
					<div class="product-thumbs" tabindex="1" style="overflow: hidden; outline: none;">
						<div class="product-thumbs-track">
							<div class="pt active" data-imgbigurl="img/single-product/1.jpg"><img src="/../uploads/{{ _doc.ProductImage }}" alt=""></div>
							<div class="pt" data-imgbigurl="/../uploads/{{ _doc.ProductImage }}"><img src="/../uploads/{{ _doc.ProductImage }}" alt=""></div>
							<div class="pt" data-imgbigurl="/../uploads/{{ _doc.ProductImage }}"><img src="/../uploads/{{ _doc.ProductImage }}" alt=""></div>
							<div class="pt" data-imgbigurl="/../uploads/{{ _doc.ProductImage }}"><img src="/../uploads/{{ _doc.ProductImage }}" alt=""></div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 product-details">
					<h2 class="p-title"> {{_doc.ProductName }} </h2>
					<h3 class="p-price">&#8358 {{_doc.ProductPrice }}</h3>
					<h4 class="p-stock">Available: <span>In Stock</span></h4>
					<div class="p-rating">
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o fa-fade"></i>
					</div>
					<div class="p-review"><a class="btn btn-danger text-white" href=" {{_doc._id }}" data-toggle="modal" data-target="#review">Add your review</a>
					</div>
					<div class="fw-size-choose">
						<p>Size</p>
						<div class="sc-item">
							<input type="radio" name="sc" id="xs-size">
							<label for="xs-size">32</label>
						</div>
						<div class="sc-item">
							<input type="radio" name="sc" id="s-size">
							<label for="s-size">34</label>
						</div>
						<div class="sc-item">
							<input type="radio" name="sc" id="m-size" checked="">
							<label for="m-size">36</label>
						</div>
						<div class="sc-item">
							<input type="radio" name="sc" id="l-size">
							<label for="l-size">38</label>
						</div>
						<div class="sc-item disable">
							<input type="radio" name="sc" id="xl-size" disabled>
							<label for="xl-size">40</label>
						</div>
						<div class="sc-item">
							<input type="radio" name="sc" id="xxl-size">
							<label for="xxl-size">42</label>
						</div>
					</div>
					<div class="quantity">
						<p>Quantity</p>
                        <div class="pro-qty"><input type="text" value="1"></div>
                    </div>
				<form action="/cart/add/{{ _doc._id }}" method="post">
					<button type="submit" class="add-card btn-lg btn-primary"><i class="flaticon-bag"></i><span>Add to Cart</span></button>
					</form>		
					<div id="accordion" class="accordion-area">
						<div class="panel">
							<div class="panel-header" id="headingOne">
								<button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">information</button>
							</div>
							<div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="panel-body">
									 {{ _doc.ProductDescription }}
									
								</div>
							</div>
						</div>
					{{/each}}
						<div class="panel">
							<div class="panel-header" id="headingTwo">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">care details </button>
							</div>
							<div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
								<div class="panel-body">
									<img src="../img/cards.png" alt="">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integer bibendum sodales arcu id te mpus. Ut consectetur lacus leo, non scelerisque nulla euismod nec.</p>
								</div>
							</div>
						</div>

						<div class="panel">
							<div class="panel-header" id="headingTwo">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse">
									{{#each count}}
									{{ count @index  }} 
									{{/each}}
									Product Reviews 
									</button>
							</div>
							<div id="collapse6" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
								<div class="panel-body">
								{{#each review }}
									<span style="color: rgb(231, 90, 34);">Name:</span> {{ _doc.Name }} <br/>
									<span style="color:  rgb(231, 90, 34);">Review: </span> {{_doc.Review }}<br/>
									{{/each}}
								</div>
							</div>
						</div>


						<div class="panel">
							<div class="panel-header" id="headingThree">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">shipping & Returns</button>
							</div>
							<div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
								<div class="panel-body">
									<h4>7 Days Returns</h4>
									<p>Cash on Delivery Available<br>Home Delivery <span>3 - 4 days</span></p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integer bibendum sodales arcu id te mpus. Ut consectetur lacus leo, non scelerisque nulla euismod nec.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="social-sharing">
						<a href=""><i class="fa fa-google-plus"></i></a>
						<a href=""><i class="fa fa-pinterest"></i></a>
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href=""><i class="fa fa-twitter"></i></a>
						<a href=""><i class="fa fa-youtube"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- product section end -->


	<!-- RELATED PRODUCTS section -->
	<section class="related-product-section">
		<div class="container">
			<div class="section-title">
				<h2>RELATED PRODUCTS</h2>
			</div>
			<div class="product-slider owl-carousel">
				{{#each products }}
				<div class="product-item">
					<div class="pi-pic">
						<img src="/../uploads/{{ _doc.ProductImage }}" alt="">
						<div class="pi-links">
							<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
							<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
						<a href="/product/{{ _doc._id}} " class="wishlist-btn"><i class="flaticon-visible"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6> {{_doc.ProductPrice}} </h6>
						<p> {{_doc.ProductName }}  </p>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</section>


<div id="review" class="modal fade update-user" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Review</h4>
      </div>
      <div class="modal-body">
	 {{#each product }}
        <form action="/reviews/{{_doc._id }}" method="post" class="form-horizontal">
		{{/each}}
            <div class="control-group">
              <label class="control-label">Name :</label>
              <div class="controls">
                <input type="text" id="firstname" minlength="4" required maxlength="150" class="first_name" name="name" placeholder="First name" />
              </div>
            </div>
			  <div class="control-group">
              <label class="control-label">Review :</label>
              <div class="controls">
				<textarea cols="10" rows="6" name="review" maxlength="500" required placeholder="Write review"></textarea>
              </div>
            </div>
              <div class="form-actions">
              <button id="update" type="submit" name="save" class="btn btn-success">Add</button>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 
 {{!-- --end-update-part-- --}}

	<style>
    #btn {
	border: none;
   height: 30px;
   width: 100px;
 	border-radius: 10px;
	 margin-top: 20px;
}

 #firstname {
	height: 44px;
	border: none;
	padding: 10 18px;
	background: #f0f0f0;
	border-radius: 10px;
	width: 100%;
	font-size: 14px;
}

 textarea {
	height: 77px;
	border: none;
	padding: 20 18px;
	background: #f0f0f0;
	border-radius: 10px;
	width: 100%;
	font-size: 14px;
}
</style>
	<!-- RELATED PRODUCTS section end -->
